<div class="large-8 columns left">
    <% @lost_reports.each_with_index do |lost, i| %>
      <% pet = lost.pet %>
      <div class="large-6 small-12 columns">
        <div class="panel radius">
          <%= link_to(pet_lost_report_path(lost.pet)) do %>
            <h3>SE BUSCA <b><%= pet.name.upcase %></b></h3>
          <% end %>
          <%= link_to image_tag(pet.avatar.url(:medium)), pet_lost_report_path(pet) %>
          <% if lost.reward==1 %>
            <p class="marginless"><span class="[success alert secondary] [round radius] label">Se ofrece recompensa</span></p>
          <% else %>
            <p class="marginless"><span class="[success warning secondary] [round radius] label">Se busca</span></p>
          <% end %>
          <%= render partial: 'lost_pet_info', locals: {:i => i, :pet => pet, :lost => lost} %>
        </div>
      </div>
    <% end %>
</div>
