<%= render 'shared/header' %>
<%= render 'shared/page_heading', { heading: 'Contacto' } %>

<section class="page-content">
  <div class="container">
    
    <div class="row">
      <div class="col-md-6">
        <figure class="alignnone">
          <%= image_tag('https://s3.amazonaws.com/mascotaproject/misingo_logo.svg', class: 'logo-contact') %>
        </figure>
      </div>
      <div class="col-md-6">
        <h2>Contactanos</h2>
        <p>Misingo en un sitio web que te ayuda a encontrar a tu mascota desaparecida y a buscarle hogar a mascotas en adopción.</p>
        <p>Si formás parte de alguna organización con la cual podríamos lograr alguna colaboración mutua, si tenés alguna duda o sugerencia sobre el sitio, o si querés conocer más sobre Misingo, escribinos.</p>
        <div class="list">
          <ul>
            <li><b>Email:</b> misingocom@gmail.com</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>
