<div class="large-12 columns">
    <div class="row">
        <br>
        <h3>OREJAS, la web de las mascotas</h3>
        <hr>
        <%= link_to "Ver mis mascotas", pets_path %><br><br>
    </div>
</div>