<div class="large-12 columns">
    <div class="row">
        <br>
        <h3>Bienvenido(a).</h3>
        <hr>
          <%= link_to "Ir a la página de inicio", home_path %><br><br>
          <div class="row">
            <div class="large-12 columns">
              <div class="panel">
                <div class="row">
                  <div class="large-9 columns">
                    <h4>¡Se perdió mi mascota!</h4>
                    <p>Subí una foto y los datos importantes de la desaparición de tu mascota. 
                      Luego te ayudamos a compartirla con todos.
                    </p>
                  </div>
                  <div class="large-3 columns">
                    <a href="#" class="radius button right">Busco mascota</a>
                  </div>
                </div>
              </div>
              <div class="panel">
                <div class="row">
                  <div class="large-9 columns">
                    <h4>¡Encontré una mascota!</h4>
                    <p>Subí una foto y la información de esa mascota que viste perdida en la calle.
                      Entre todos ayudaremos a encontrar a sus dueños.
                    </p>
                  </div>
                  <div class="large-3 columns">
                    <a href="#" class="radius button right">Busco dueño</a>
                  </div>
                </div>
              </div>
              <div class="panel">
                <div class="row">
                  <div class="large-9 columns">
                    <h4>¡Quiero adoptar una mascota!</h4>
                    <p>Te mostramos una lista de mascotas que están buscando un hogar.
                      Te damos los datos de contacto de las personas que lo dan en adopción.
                    </p>
                  </div>
                  <div class="large-3 columns">
                    <a href="#" class="radius button right">Adoptar</a>
                  </div>
                </div>
              </div>
              <div class="panel">
                <div class="row">
                  <div class="large-9 columns">
                    <h4>¡Quiero dar en adopción a una mascota!</h4>
                    <p>Si buscas un mejor lugar para que tu mascota pase sus días, subí una foto
                    y la información para que un futuro dueño te pueda contactar.</p>
                  </div>
                  <div class="large-3 columns">
                    <a href="#" class="radius button right">Busco hogar</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>