<%- unless resource.errors.empty? %>
  <fieldset>
    <div class="field account-sign-in">
      <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-times"></i></button>

        <%= devise_error_messages! %>

        <% flash.each do |key, value| %>
          <div><%= value %></div>
        <% end %>

      </div>
    </div>
  </fieldset>
<% end %>
