<% pet = lost_report.pet %>
<center>
  <label>Compartir en redes sociales</label>
  <%= render partial: 'shared/social_shares',
      locals: { url: lost_report_url(lost_report) } %>
  <div class='row final'></div>
  <%= link_to(lost_report_flyer_path(lost_report), class: 'small button', target: '_blank') do %>
    Imprimir
  <% end %>
  <div>
    <%= image_tag url_for(preview_lost_report_flyer_path(@lost_report)) %>
  </div>
  <div class='row final'></div>
</center>
