<% pet = lost_report.pet %>
<div class="alert alert-warning alert-dismissable social-share">
  <strong>¡No olvidés compartirlo en redes sociales!</strong>
  <% url = lost_report_url(lost_report) %>
  <div id='fb-root'></div>
  <div class="social-networks-buttons">
    <div class='fb-like' data-href='<%= url %>' data-layout='button' data-action='like' data-show-faces='true' data-share='true'></div>
    <a href='https://twitter.com/share' class='twitter-share-button' data-url='<%= url %>' data-text="¡Ayudame a buscar a <%= @lost_report.pet.name %>!" data-via='misingocom' data-count='none'>Tweet</a>
  </div>
</div>
