<%= render 'shared/header' %>
<div class='large-12 columns'>
  <div class='row'>
    <div class='row final'></div>
    <center>
      <i class='step fi-megaphone size-21'></i>&nbsp;<a class='header'>Llen치 los datos de la desaparici칩n de <%= @pet.name %></a>
    </center>
    <hr>
    <div class='row'>
      <center>
        <div class='large-3 columns'>
          <div class='row final'></div>
        </div>
        <div class='large-6 columns left'>
          <div class='row final'></div>
          <ul class='breadcrumbs'>
            <li class='unavailable', id='firstItemList'>Tu mascota</li>
            <li class='current'><b>Info de contacto</b></li>
            <li class='unavailable'>Finalizar</li>
          </ul>
          <%= render 'form' %>
        </div>
      </center>
    </div>
  </div>
</div>
<script type='text/javascript'>
  var submitted = false;
  $(document).ready(function () {
    window.onbeforeunload = function(){
      if(!submitted){
        return 'Si abandona la p치gina, no se registrar치 su mascota.';
      }
    }
    $(document).submit(function() {
      submitted = true;
    });
  });
</script>
