<%= render 'shared/header' %>
<div class='large-12 columns'>
  <div class='row'>

    <div class='large-12 columns'>
      <center>
        <div>
          <div class='row final'></div>
          <%= image_tag(@lost_report.pet.avatar.url(:medium)) %>
        </div>
      </center>
      <div>
        <%#= render partial: 'shared/lost_pet_info', locals: { lost_report: @lost_report } %>
      </div>
    </div>
    <%= render partial: 'social_share_options', locals: { lost_report: @lost_report } %>
  </div>
</div>
