<%= render 'shared/header' %>
<div class='large-12 columns'>
  <div class='row'>
    <div class='row final'></div>
      <center>
        <a class='header'>Editar información de <%= @pet.name %></a>
      </center>
    <hr>
    <div class='row'>
      <center>
        <div class='large-3 columns'>
          <div class='row final'></div>
        </div>
        <div class='large-6 columns left'>
          <ul class='breadcrumbs'>
            <li class='current', id='firstItemList'>
              <b>Editar a tu mascota</b>
            </li>
            <li><%= link_to 'Editar información de contacto', root_path %></li>
          </ul>
          <%= render 'form' %>
        </div>
      </center>
    </div>
  </div>
</div>
