<%= render "shared/header" %>
<div class="large-12 columns">
  <div class="row">
    <div class="row final"></div>
      <center>
        <a class="header">Editar información de <%= @pet.name %></a>
      </center>
    <hr>
    <div class="row">
      <center>
        <div class="large-3 columns">
          <div class="row final"></div>
        </div>
        <div class="large-6 columns left">
          <%= render 'form' %>
        </div>
      </center>
    </div>
  </div>
</div>
