<div class="large-12 columns">
  <div class="row">
    <br>
    <h3>Editar informacion de <%= @pet.name %></h3>
    <hr>
      <div class="row">
      <center>
        <div class="large-6 columns">
          <%= render 'form' %>
        </div>
      </center>
    </div>
  </div>
</div>