<%= render "shared/header" %>
<div class="large-12 columns">
  <div class="row">
    <br>
      <center>
        <i class="add-pet"></i>&nbsp;<a class="header">Registrá a tu mascota</a>
      </center>
    <hr>
      <div class="row">
      <center>
        <div class="large-3 columns">
          <br>
        </div>
        <div class="large-6 columns left">
          <%= render 'form' %>
        </div>
      </center>
    </div>
  </div>
</div>