<%= render "shared/header_sign_in" %>
<div class="large-12 columns">
    <div class="row">
      <br>
      <h3>Registrá a tu mascota</h3>
      <hr>
        <div class="row">
        <center>
          <div class="large-6 columns">
            <%= render 'form' %>
          </div>
        </center>
      </div>
    </div>
</div>