<%= render 'shared/header' %>
<div class='large-12 columns'>
  <div class='row'>
    <div class='row final'></div>
      <center>
        <i class='step fi-guide-dog size-36'></i> <a class='header'>Registrá a tu mascota</a>
      </center>
      <hr>
      <div class='row'>
      <center>
        <div class='large-3 columns'>
          <div class='row final'></div>
        </div>
        <div class='large-6 columns left'>
          <%= render 'form' %>
        </div>
      </center>
    </div>
  </div>
</div>
