<center>
  <div class='panel radius profile'>
    <%= current_user.image.nil? ? image_tag('profile_default.png', class:"profile") : image_tag(current_user.image) %>
    <div class='row final'></div>
    <label><b><%= current_user.name %></b></label>
    <label>
      <b><%= current_user.provider.nil? ? current_user.email : current_user.hometown %></b>
    </label>
  </div>
  <%= link_to 'Registrar mascota desaparecida', new_pet_path, class:"small button" %>
</center>
