<% if flash[:error] %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-times"></i></button>
    <strong>¡Oh!</strong> No se pudo guardar la información, revisá estos detalles:<br>
    <% flash[:error].each do |attr, messages| %>
      <% messages.each do | msg | %>
        <i class="fa fa-times"></i> <%= msg.capitalize %><br>
      <% end %>
    <% end %>
  </div>
<% end %>
