<% if flash[:error] %>
  <div id='error_explanation'>
    <div data-alert class='alert-box alert radius'>
        No se pudo guardar la información, revisá estos detalles:
        <% flash[:error].each do |attr, messages| %>
          <% messages.each do | msg | %>
            <div class='row'><%= msg.capitalize %></div>
          <% end %>
        <% end %>
      <a href='#' class='close'>&times;</a>
    </div>
  </div>
<% end %>
