<div class="footer">
    <div class="row">
        <div class="large-12 columns">
        &copy; Copyright 2014. <br /><br />

        <i class="fi-social-facebook">Facebook</i>
        <i class="fi-social-twitter">Twitter</i>
        </div>
    </div>
</div>