<footer class="footer" id="footer">
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6">
          Copyright &copy; <%= Time.now.year %> <a href="index.html">Misingo</a> &nbsp;| &nbsp; Derechos&nbsp;reservados
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="social-links-wrapper">
            <span class="social-links-txt">Seguinos en redes sociales</span>
            <ul class="social-links social-links__light">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
