<div class='footer'>
  <div class='row final'></div>
  <div class='row'>
    <div class='large-12 columns'>
      &copy; 2014.
      <i class='fi-social-facebook size-36'></i>
      <i class='fi-social-twitter size-36'></i>
    </div>
  </div>
</div>
