<section class="hero">
  <div class="row">
    <div class="large-12 columns">
      <div class="main-wrapper">
        <h1>BUSCA MASCOTAS</h1>
        <h3>Te ayudamos a buscar tu mascota perdida</h3>
        <hr>
        <div class="row">
          <div class="large-6 columns large-centered">
            <ul class="button-group even-4">
              <li><a href="#" class="button login">Nosotros</a></li>
              <li><a href="#" class="button login">Adopciones</a></li>
              <li><a href="#" class="button login">Extravíos</a></li>
              <li><a href="#" class="button login">Contacto</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns about-box">
      <div class="black-box">
        <h2>Somos BUSCA MASCOTAS</h2>
        <p>Virtualizá la información de tu mascota gratis. Nosotros te ayudamos en casos de extravíos, adopciones e información del mundo animal.</p>
        <p>¿Interesado(a)?</p>
        <p><%= button_to "Iniciar con tu cuenta de Facebook →", user_omniauth_authorize_path(:facebook), class: "secondary small button login" %></p>
        <p>O también podés</p>
        <p><%= link_to "Iniciar sesión con tu cuenta de buscamascotas →", new_user_session_path %></p>
      </div>
    </div>
  </div>
</section>
