<section class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><%= heading %></h1>
      </div>
      <div class="col-md-6">
        <ul class="breadcrumb">
          <li class="active">Inicio</li>
          <li><%= link_to 'Adopciones', '/adopciones' %></li>
          <li><%= link_to 'Contacto', '/contacto' %></li>
        </ul>
      </div>
    </div>
  </div>
</section>
