<strong>Gracias por tu ayuda.</strong>
<div>Recordá que podés buscar más <%= link_to 'mascotas en adopción', adoptions_path %>
  y <%= link_to 'reportar extravíos', lost_reports_path %>
  en <strong><%= link_to 'misingo.com', root_path %></strong>
</div>
