<body>
  <div class="site-wrapper">   
    <header class="header header-coming-soon">
      <div class="header-main">
        <div class="container">
          <div class="logo">
            <%= image_tag('misingo_text.png', width: 450) %>
          </div>
        </div>
      </div>
    </header>

    <div class="main main__padd-top" role="main">
      <section class="page-content">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <h1>Ya casi lanzamos la aplicación...</h1>
              <p>Estamos con los últimos retoques. Misingo será un sitio que te ayudará a encontrar a tu mascota desaparecida y a buscarle hogar a muchos animales que lo merecen.</p>
            </div>
          </div>
        </div>
      </section>

      <br/><br/><br/>

      <footer class="footer" id="footer">
        <div class="footer-copyright">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-md-4">
                Copyright &copy; 2015  <a href="/">Misingo</a> &nbsp;| &nbsp;Derechos reservados
              </div>
              <div class="col-sm-6 col-md-8">
                <div class="social-links-wrapper">
                  <span class="social-links-txt">Contacto</span>
                  <ul class="social-links social-links__light">
                    <li>
                      <%= link_to "https://www.linkedin.com/in/robquesada", target: "_blank" do %>
                        <i class="fa fa-linkedin"></i>
                      <% end %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</body>
