<div class="row">
  <div class="large-13 columns" role="content">
      <h3>Ingresar al sitio</h3><br><br>
      <div class="row">
        <div class="large-6 columns">
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.</p>
          <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
        </div>
        <div class="large-6 columns">
          <form action= "home" class="panel">
            <input type="text" name="username" placeholder="Nombre de usuario">
            <input type="password" name="password" placeholder="Contrasenna">
            <input type="submit" class="button" value="Ingresar">
          </form>
        </div>
      </div><br><br><br><br><br><br><br><br>
  </div>
</div>
