    <%= render "shared/home_header" %>
    <section class="hero-content"> 
    <div class="row">
      
      <div class="large-8 columns about-content">
        <h4>Sección de contenido.</h4>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      </div>
      
      <div class="large-4 columns">
        <ul class="small-block-grid-2">
          <li><a href="#"><img src="http://placehold.it/180x180"/></a></li>
          <li><a href="#"><img src="http://placehold.it/180x180"/></a></li>
          <li><a href="#"><img src="http://placehold.it/180x180"/></a></li>
          <li><a href="#"><img src="http://placehold.it/180x180"/></a></li>
        </ul>
      </div>
    </div>
    </section>
     
    <div class="row">
      <div class="large-12 columns">
      
        <div class="panel">
              
          <div class="row">
            <div class="large-9 columns">
              <h4>¡Seguinos en Facebook!</h4>
            </div>
            <div class="large-3 columns">
              <a href="#" class="radius button right">Me gusta</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>