.lostPet__image {
  border-radius: 100% !important;
  border: 5px solid #3E3626 !important;
}

.lostPet__imageHolder {
  border: 5px solid #a6ce39;
  border-radius: 100%;
  display: inline-block;
  padding: 5px;
  margin-top: 20px;
  width: 80%;
}

.lostPet__name {
  min-height: 41px;
  background-color: #a6ce39;
  padding: 10px;
  color: white;
  margin: 10px 0 !important;
}

.lostPet__information {
  background: rgba(0,0,0,0.9);
  color: white !important;
  position: absolute;
  top: 0;
  left: 15px;
  right: 15px;
  bottom: -3px;
  border-radius: 7px;

  text-decoration: none !important;
  text-align: center;
}

.lostPet:hover .lostPet__information {
  display: block !important
}

.lostPet__information__moreLink {
  margin: 20px 0 !important;
}

.lostPet__information__detail {
  overflow: hidden;
  margin-top: 20px;
}

.lostPet__information__detail__row {
  text-align: left;
  padding: 0px 30px;
  margin-top: 20px;
  overflow: hidden;

  &:first-child {
    margin-top: 0px;
  }
}

.lostPet__information__detail__image {
  width: 40px;
  height: 40px;
  float: left;
}

.lostPet__information__detail__text {
  text-align: left;
  margin-left: 3.5em;
  padding: 6px 0px;

  p {
    margin: 0;
  }
}

.pet-name {
  height: 3em;
  margin-bottom: 1em;
  width: auto;
  background: #a6ce39;
  border-radius: 0.3em;

  p {
    padding: 0.6em;
    text-align: center;
    color: white;
    font-weight: bold;
  }

  a {
    color: green;
  }
}

.social-share {
  margin: auto;
  margin-bottom: 1.5em;
  max-width: 489px;
}

.flyer-container {
  margin-top: 2em;
  text-align: center;
}

.edit-link {
  text-align: right;
}

.flyer-preview {
  margin-bottom: 1em;
  &.hover {
    background: black;
  }
}

.fb-like {
  span {
    height: 27px !important;
    margin-right: 0.1em !important;
  }
}

.social-networks-buttons {
  margin-top: 0.5em;
}

.unavailable {
  text-align: center;
  color: black;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  width: 80%;
  margin: 0 auto;
  z-index: 2;
  font-weight: 700;
  transform: skew(32deg,-32deg);
  border-radius: 0.3em;
  text-shadow: 0 0 5px white;
  line-height: 1;

  @media (min-width: 768px) and (max-width: 992px) {
    padding-top: 0.5em;
  }
}

.found {
  font-size: 2.2em;
  margin-top: 4em;
}

.adopted {
  font-size: 2.8em;
  margin-top: 3em;
}

.opacy {
  opacity: 0.5;
}
